@model FinalProject.Mentor

@{
    ViewBag.Title = "MentorDelete";
}

<h2>MentorDelete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Mentor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpertiseAreas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpertiseAreas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentJobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentJobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfGraduation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfGraduation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemesterOfGraduation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterOfGraduation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GitHubProfileLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GitHubProfileLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkedInProfileLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkedInProfileLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
